  #etherWalletPopUp {
    padding: 5px 10px;
    width: 300px;

  .settings-icon {
    position: absolute;
    right: 5px;
    top: 5px;
    &:hover,
    &:focus,
    &:active {
      outline: 0;
    }
  }
  input[type=radio] {
    margin-right: 5px;
  }

}
